<html>
    <%- include('head', { title: title }) %>
    <body>
        <h1><%= title %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Back</a>
                </li>
            </ul>
        </nav>
        <div>
            <p>"<%= message.text %>"</p>
            <p>
                Posted by <%= message.user %> on <%= message.added %>
            </p>
        </div>
        <%- include('footer') %>
    </body>
</html>